*{
    margin: 0;
   padding: 0;
}

.welcome{
    text-align: center;
    
}

.content{
    text-align: center;
    text-decoration: none;
    color: black;
}

.status-none{
    color:red
}

.card{
    display: inline-block;
}

.btn{
    align-items: center;
    color: white;
    text-decoration: none;
}

.header{
    text-align: center;
    color: rgba(233, 90, 90, 0.692)
}